.comic-detail .container{
    display: flex;
    // background-color: violet;
    padding: 0;
}

.box-comic{
    // background-color: green;
    flex-basis: 68%;
    margin-right: 25px;
    padding: 50px;
}

.box-comic h1{
    margin-bottom: 20px;
}

.prezzo{
    background-color: $colore3;
    color: $colore-testo-2;
    padding: 20px;
    width: 200px;
}

.testo{
    margin: 20px 0;
}

.adv{
    background-color: lightblue;
    flex-basis: 30%;
}