// layout
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 40px;
}


// variabili
$colore-testo-main: #1c1c1c;
$colore-testo-2: white;

$colore-sfondo1: #1c1c1c;
$colore-sfondo2: #0282f9;

$font-size2: 12px;